.image-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f2f2;
    border-radius: 0.25rem;
    overflow: hidden;
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.placeholder-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #706e6b;
}